.main-features {
  margin-top: 10px;      
}


.teal-background {
  background-color: #A9E2F3;
  height: 100%; 

  
}

.vertical-center {
  line-height: 2em;
  font-size: 5em;
  
}

.light-teal-background {
  background-color: #2E9AFE;
  height: 100%; 
}

.light-teal-background a {
	color: black;
}

.teal-background:hover {
  background-color: #01DF3A;
}

.light-teal-background:hover {
  background-color: #01DF3A;

}

.overflow-scroll {
	overflow: scroll;
	
}